/*  */
/*  */
/*  */

.footer-content {
    background-color: #3f51b5;
    height: 100%;
    width: 100%;
}

.footer-text {
    color: white;
    padding-top: 12px;
    text-align: center;
}

.developer-name {
    text-align: center;
    color: white;
}