<!--  -->
<!--  -->
<!--  -->

<!--  -->
<!-- mat card -->
<!--  -->
<!-- <mat-card class="mat-elevation-z2 mat-elevation-z8 main-container"> -->
<mat-card class="mat-elevation-z4 main-container">
    <!--  -->
    <!-- Header Text -->
    <!--  -->
    <div class="header">
        <mat-card-title>Calculate Age</mat-card-title>
        <!--  -->
        <mat-card-subtitle>Enter into the input field to calculate age</mat-card-subtitle>
        <!--  -->
        <mat-divider></mat-divider>
    </div>
    <!--  -->
    <!-- End Of Header Text -->
    <!--  -->

    <!--  -->
    <!-- Card Content -->
    <!--  -->
    <div class="card-contentainer">
        <!--  -->
        <!-- mat-card-content -->
        <!--  -->
        <mat-card-content>
            <!--  -->
            <!-- Form -->
            <!--  -->
            <form [formGroup]="age_form" class="form">
                <!--  -->
                <!-- Form Container -->
                <!--  -->
                <div class="form-container">
                    <!--  -->
                    <!-- From Date Input Field -->
                    <!--  -->
                    <div class="from-date-field" aria-label="From Date Input Fields">
                        <!--  -->
                        <!-- from-date-field -->
                        <!--  -->
                        <div class="date-field">
                            <!-- From_Date -->
                            <mat-form-field class="date-input" appearance="fill" aria-label="From_Date Input Field">
                                <mat-label>From Date</mat-label>
                                <input matInput [matDatepicker]="from_date_dp" required formControlName="from_date"
                                    [errorStateMatcher]="ageCalculator_errorStateMatcher" placeholder="Birth Date">
                                <mat-datepicker-toggle matSuffix [for]="from_date_dp"></mat-datepicker-toggle>
                                <mat-datepicker #from_date_dp></mat-datepicker>

                                <mat-hint>Example: February 21, 2000</mat-hint>

                                <!-- Mat Errors For Date -->
                                <mat-error *ngIf="from_date.hasError('required')">
                                    This field is <strong>required</strong>
                                </mat-error>
                                <mat-error *ngIf="from_date.hasError('matDatepickerParse')">
                                    Invalid Date. <strong>Valid Ex: March 20, 2020</strong>
                                </mat-error>
                            </mat-form-field>
                            <!--  -->

                            <!--  -->
                            <!-- TIme field add remove button -->
                            <button class="time_button" mat-icon-button type="button" (click)="Show_from_timeField()">
                                <mat-icon class="timer_icon" svgIcon="timer-black" *ngIf="!_show_from_timeField"
                                    color="primary" matTooltip="Adds time fields for from date"
                                    matTooltipClass="custom-tooltip" matTooltipShowDelay="600"></mat-icon>

                                <mat-icon class="timer_off_icon" svgIcon="timer-off-black" matRippleDisabled="true"
                                    *ngIf="_show_from_timeField" color="primary"
                                    matTooltip="Removes time fields for from date" matTooltipClass="custom-tooltip"
                                    matTooltipShowDelay="600"></mat-icon>
                            </button>
                            <!--  -->
                        </div>
                        <!--  -->
                        <!-- End of from-date-field -->
                        <!--  -->
                        <!-- Extra margin for two error -->

                        <!--  -->
                        <!-- Time Field for from_date -->
                        <!--  -->
                        <div *ngIf="_show_from_timeField"
                            [class.margin-top-20]="from_date.hasError('required') && from_date.hasError('matDatepickerParse')"
                            class="from-time-field">
                            <!--  -->
                            <!-- Hour Time Field -->
                            <mat-form-field appearance="fill" class="hour">
                                <mat-label>hour</mat-label>
                                <input matInput type="number" formControlName="from_hour"
                                    [errorStateMatcher]="ageCalculator_errorStateMatcher" required>
                                <mat-hint>
                                    <strong>Ex. 9</strong>
                                </mat-hint>

                                <!-- Errors -->
                                <mat-error *ngIf="from_hour.hasError('required')">
                                    <strong>required</strong>
                                </mat-error>
                                <mat-error *ngIf="from_hour.hasError('min')">
                                    Minimum <strong>1</strong>
                                </mat-error>

                                <mat-error *ngIf="from_hour.hasError('max')">
                                    Maximum <strong>12</strong>
                                </mat-error>

                                <mat-error *ngIf="from_hour.hasError('pattern')">
                                    Please Enter a Valid Hour
                                </mat-error>
                                <!--  -->
                            </mat-form-field>
                            <!--  -->
                            <!--  -->
                            <!-- Minute Time Field -->
                            <mat-form-field appearance="fill" class="minute">
                                <mat-label>Minute</mat-label>
                                <input matInput type="number" formControlName="from_minute"
                                    [errorStateMatcher]="ageCalculator_errorStateMatcher" required>
                                <mat-hint>
                                    <strong>EX: 24</strong>
                                </mat-hint>

                                <!-- Errors -->
                                <mat-error *ngIf="from_minute.hasError('required')">
                                    <strong>required</strong>
                                </mat-error>

                                <mat-error *ngIf="from_minute.hasError('min')">
                                    Minimum <strong>0</strong>
                                </mat-error>

                                <mat-error *ngIf="from_minute.hasError('max')">
                                    Maximum <strong>59</strong>
                                </mat-error>

                                <mat-error *ngIf="from_minute.hasError('pattern')">
                                    Please Enter a Valid Minute
                                </mat-error>
                            </mat-form-field>
                            <!--  -->

                            <!-- AM PM field for from_date Time -->
                            <mat-radio-group formControlName="from_amPm" required color="accent"
                                aria-label="Select either am or pm" class="amPm">

                                <mat-radio-button value="am">AM</mat-radio-button>
                                <mat-radio-button value="pm">PM</mat-radio-button>
                            </mat-radio-group>

                            <!--  -->
                            <!-- Now Button for from_date time field -->
                            <button mat-mini-fab (click)="Set_from_timeFieldValue()" color="primary" class="now"
                                matTooltip="Automatically sets current local time" matTooltipClass="custom-tooltip"
                                matTooltipShowDelay="600">Now</button>

                        </div>
                        <!--  -->
                        <!-- End of Time Field for from_date -->
                        <!--  -->


                    </div>
                    <!-- End of From Date Input Field -->
                    <!--  -->

                    <!--  -->
                    <!-- To Date Input Fields -->
                    <!--  -->
                    <div class="to-date-field" aria-label="To Date Input Fields">
                        <!--  -->
                        <!-- to-date-field -->
                        <!--  -->
                        <div class="date-field">
                            <!-- To_Date -->
                            <mat-form-field class="date-input" appearance="fill">
                                <mat-label>To Date</mat-label>
                                <input matInput [matDatepicker]="to_date_dp" formControlName="to_date"
                                    [errorStateMatcher]="ageCalculator_errorStateMatcher" placeholder="Current Date">
                                <mat-datepicker-toggle matSuffix [for]="to_date_dp"></mat-datepicker-toggle>
                                <mat-datepicker #to_date_dp></mat-datepicker>

                                <mat-hint>
                                    <strong>
                                        Optional
                                    </strong>
                                </mat-hint>
                                <!-- Mat Errors For Date -->
                                <mat-error *ngIf="to_date.hasError('matDatepickerParse')">
                                    Invalid Date. <strong>Valid Ex: March 20, 2020</strong>
                                </mat-error>
                            </mat-form-field>
                            <!--  -->
                            <!-- TIme field add remove button -->
                            <button class="time_button" mat-icon-button type="button" (click)="Show_to_timeField()">
                                <mat-icon class="timer_icon" svgIcon="timer-black" *ngIf="!_show_to_timeField"
                                    color="primary" matTooltip="Adds time fields for to date"
                                    matTooltipClass="custom-tooltip" matTooltipShowDelay="600"></mat-icon>

                                <mat-icon class="timer_off_icon" svgIcon="timer-off-black" matRippleDisabled="true"
                                    *ngIf="_show_to_timeField" color="primary"
                                    matTooltip="Removes time fields for to date" matTooltipClass="custom-tooltip"
                                    matTooltipShowDelay="600"></mat-icon>
                            </button>
                            <!--  -->
                        </div>
                        <!--  -->
                        <!-- End of to-date-field -->
                        <!--  -->

                        <!--  -->
                        <!-- Time Field for from_date -->
                        <!--  -->
                        <div *ngIf="_show_to_timeField" class="to-time-field">
                            <!--  -->
                            <!-- Hour Time Field -->
                            <mat-form-field appearance="fill" class="hour">
                                <mat-label>hour</mat-label>
                                <input matInput type="number" formControlName="to_hour"
                                    [errorStateMatcher]="ageCalculator_errorStateMatcher" required>
                                <mat-hint>
                                    <strong>Ex. 9</strong>
                                </mat-hint>

                                <!-- Errors -->
                                <mat-error *ngIf="to_hour.hasError('required')">
                                    <strong>required</strong>
                                </mat-error>
                                <mat-error *ngIf="to_hour.hasError('min')">
                                    Minimum <strong>1</strong>
                                </mat-error>

                                <mat-error *ngIf="to_hour.hasError('max')">
                                    Maximum <strong>12</strong>
                                </mat-error>

                                <mat-error *ngIf="to_hour.hasError('pattern')">
                                    Please Enter a Valid Hour
                                </mat-error>
                                <!--  -->
                            </mat-form-field>
                            <!--  -->

                            <!--  -->
                            <!-- Minute Time Field -->
                            <mat-form-field appearance="fill" class="minute">
                                <mat-label>Minute</mat-label>
                                <input matInput type="number" formControlName="to_minute"
                                    [errorStateMatcher]="ageCalculator_errorStateMatcher" required>
                                <mat-hint>
                                    <strong>EX: 24</strong>
                                </mat-hint>

                                <!-- Errors -->
                                <mat-error *ngIf="to_minute.hasError('required')">
                                    <strong>required</strong>
                                </mat-error>

                                <mat-error *ngIf="to_minute.hasError('min')">
                                    Minimum <strong>0</strong>
                                </mat-error>

                                <mat-error *ngIf="to_minute.hasError('max')">
                                    Maximum <strong>59</strong>
                                </mat-error>

                                <mat-error *ngIf="to_minute.hasError('pattern')">
                                    Please Enter a Valid Minute
                                </mat-error>
                            </mat-form-field>
                            <!--  -->

                            <!-- AM PM field for from_date Time -->
                            <mat-radio-group formControlName="to_amPm" required color="accent"
                                aria-label="Select either am or pm" class="amPm">

                                <mat-radio-button value="am">AM</mat-radio-button>
                                <mat-radio-button value="pm">PM</mat-radio-button>
                            </mat-radio-group>

                            <!--  -->
                            <!-- Now Button for from_date time field -->
                            <button mat-mini-fab (click)="Set_to_timeFieldValue()" color="primary" class="now"
                                matTooltip="Automatically sets current local time" matTooltipClass="custom-tooltip"
                                matTooltipShowDelay="600">Now</button>

                        </div>
                        <!--  -->
                        <!-- End of Time Field for from_date -->
                        <!--  -->

                    </div>
                    <!--  -->
                    <!-- End of To Date Input Fields -->
                    <!--  -->
                </div>
                <!--  -->
                <!-- End of Form Container -->
                <!--  -->


                <div class="button-group">
                    <!--  -->
                    <!-- Submit Button -->
                    <!--  -->
                    <!-- 
                        The Calculate Button type must be submit: so that on clicking it it shows all the errors 
                    -->
                    <button type="submit" (click)="onSubmit()" mat-raised-button color="primary">Calculate</button>
                    <!--  -->
                    <!-- End of Submit Button -->
                    <!--  -->

                    <!--  -->
                    <!-- Reset Button -->
                    <!--  -->
                    <button type="button" (click)="ResetAllFormFields()" mat-raised-button color="warn">Reset
                        All</button>
                    <!--  -->
                    <!-- End of Reset Button -->
                    <!--  -->
                </div>
            </form>
            <!--  -->
            <!-- End of Form -->
            <!--  -->


        </mat-card-content>
        <!--  -->
        <!-- end of mat-card-content -->
        <!--  -->
    </div>
    <!--  -->
    <!-- End of Card Content -->
    <!--  -->

    <!--  -->
    <!-- Result Panel -->
    <!--  -->
    <div *ngIf="_showResults" class="result-panel">
        <!--  -->
        <!-- Create a Tab Link Here -->
        <!--  -->
        <mat-tab-group mat-stretch-tabs mat-align-tabs="center" color="primary" class="mat-elevation-z4">

            <mat-tab label="Age">

                <!--  -->
                <!-- Content of the Tab Age -->
                <!--  -->
                <div class="tab-cantent">
                    <mat-list role="list">
                        <mat-list-item class="text-box-main" role="listitem">
                            <span class="age-text-main">
                                Age is :
                            </span>
                            <span class="age-text-value-main">
                                {{ age_in_text.age }}
                            </span>
                        </mat-list-item>
                        <!--  -->
                        <!--  -->
                        <mat-list-item class="text-box" role="listitem">
                            <span class="age-text">
                                In Months :
                            </span>
                            <!--  -->
                            <span class="age-text-value">
                                {{ age_in_text.inOnly_months }}
                            </span>
                        </mat-list-item>
                        <!--  -->
                        <!--  -->
                        <mat-list-item class="text-box" role="listitem">
                            <span class="age-text">
                                In Weeks :
                            </span>
                            <!--  -->
                            <span class="age-text-value">
                                {{ age_in_text.inOnly_weeks }}
                            </span>
                        </mat-list-item>
                        <!--  -->
                        <!--  -->
                        <mat-list-item class="text-box" role="listitem">
                            <span class="age-text">
                                In Days :
                            </span>
                            <!--  -->
                            <span class="age-text-value">
                                {{ age_in_text.inOnly_days }}
                            </span>
                        </mat-list-item>
                        <!--  -->
                        <!--  -->
                        <mat-list-item class="text-box" role="listitem">
                            <span class="age-text">
                                In Hours :
                            </span>
                            <!--  -->
                            <span class="age-text-value">
                                {{ age_in_text.inOnly_hours }}
                            </span>
                        </mat-list-item>
                        <!--  -->
                        <!--  -->
                        <mat-list-item class="text-box" role="listitem">
                            <span class="age-text">
                                In Minutes :
                            </span>
                            <!--  -->
                            <span class="age-text-value">
                                {{ age_in_text.inOnly_minutes }}
                            </span>
                        </mat-list-item>
                        <!--  -->
                        <!--  -->
                        <mat-list-item class="text-box" role="listitem">
                            <span class="age-text">
                                In Seconds :
                            </span>
                            <!--  -->
                            <span class="age-text-value">
                                {{ age_in_text.inOnly_seconds }}
                            </span>
                        </mat-list-item>
                        <!--  -->
                        <!--  -->
                        <mat-list-item class="text-box" role="listitem">
                            <span class="age-text">
                                In Milliseconds :
                            </span>
                            <!--  -->
                            <span class="age-text-value">
                                {{ age_in_text.inOnly_milliseconds }}
                            </span>
                        </mat-list-item>
                        <!--  -->
                        <!--  -->
                    </mat-list>
                </div>
                <!--  -->
                <!-- End of Content of the Tab Age -->
                <!--  -->
            </mat-tab>

            <mat-tab label="Facts About You">
                <!--  -->
                <!-- Content of the Tab Facts About You -->
                <!--  -->
                <div class="tab-cantent">

                    <mat-list role="list">
                        <!--  -->
                        <!-- Breath Taken -->
                        <!--  -->
                        <mat-list-item class="text-box" role="listitem">
                            <span class="age-text">
                                Breath Taken :
                            </span>
                            <!--  -->
                            <span class="age-text-value">
                                {{ facts_in_text.breath }}
                            </span>
                        </mat-list-item>
                        <!--  -->
                        <!-- End of Breath Taken -->
                        <!--  -->
                        <!-- ************************************************************************* -->
                        <!--  -->
                        <!-- Sleep values -->
                        <!--  -->
                        <div class="sleep-container">
                            <!--  -->
                            <!--  -->
                            <mat-accordion>
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>Slept</mat-panel-title>
                                        <mat-panel-description>
                                            Shows how much time you spent on sleeping
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>

                                    <!--  -->
                                    <!-- Content of the expansion panel -->
                                    <!--  -->
                                    <mat-list role="list">
                                        <!--  -->
                                        <!--  -->
                                        <mat-list-item class="text-box" role="listitem">
                                            <span class="age-text">
                                                Slept :
                                            </span>
                                            <!--  -->
                                            <span class="age-text-value">
                                                {{ facts_in_text.sleep.slept }}
                                            </span>
                                        </mat-list-item>
                                        <!--  -->
                                        <!--  -->
                                        <mat-list-item class="text-box" role="listitem">
                                            <span class="age-text">
                                                In Months :
                                            </span>
                                            <!--  -->
                                            <span class="age-text-value">
                                                {{ facts_in_text.sleep.inOnly_months }}
                                            </span>
                                        </mat-list-item>
                                        <!--  -->
                                        <!--  -->
                                        <mat-list-item class="text-box" role="listitem">
                                            <span class="age-text">
                                                In Weeks :
                                            </span>
                                            <!--  -->
                                            <span class="age-text-value">
                                                {{ facts_in_text.sleep.inOnly_weeks }}
                                            </span>
                                        </mat-list-item>
                                        <!--  -->
                                        <!--  -->
                                        <mat-list-item class="text-box" role="listitem">
                                            <span class="age-text">
                                                In Days :
                                            </span>
                                            <!--  -->
                                            <span class="age-text-value">
                                                {{ facts_in_text.sleep.inOnly_days }}
                                            </span>
                                        </mat-list-item>
                                        <!--  -->
                                        <!--  -->
                                        <mat-list-item class="text-box" role="listitem">
                                            <span class="age-text">
                                                In Hours :
                                            </span>
                                            <!--  -->
                                            <span class="age-text-value">
                                                {{ facts_in_text.sleep.inOnly_hours }}
                                            </span>
                                        </mat-list-item>
                                        <!--  -->
                                        <!--  -->
                                        <mat-list-item class="text-box" role="listitem">
                                            <span class="age-text">
                                                In Minutes :
                                            </span>
                                            <!--  -->
                                            <span class="age-text-value">
                                                {{ facts_in_text.sleep.inOnly_minutes }}
                                            </span>
                                        </mat-list-item>
                                    </mat-list>
                                    <!--  -->
                                    <!--  -->
                                </mat-expansion-panel>
                            </mat-accordion>
                            <!--  -->
                            <!--  -->
                        </div>
                        <!--  -->
                        <!-- End of Sleep values -->
                        <!--  -->
                        <!-- ************************************************************************* -->
                        <!--  -->
                        <!-- Heart Beat -->
                        <!--  -->
                        <mat-list-item class="text-box" role="listitem">
                            <span class="age-text">
                                Heart Beaten :
                            </span>
                            <!--  -->
                            <span class="age-text-value">
                                {{ facts_in_text.heart_beat }}
                            </span>
                        </mat-list-item>
                        <!--  -->
                        <!-- End of Heart Beat -->
                        <!--  -->
                        <!-- ************************************************************************* -->



                        <!--  -->
                    </mat-list>
                </div>
                <!--  -->
                <!-- End of Content of the Tab Facts About You -->
                <!--  -->

            </mat-tab>
            <mat-tab label="Age in Other Planet">

                <!--  -->
                <!-- Content of the Tab Age in Other Planet -->
                <!--  -->
                <div class="tab-cantent">

                    Age in Other Planets
                </div>
                <!--  -->
                <!-- End of Content of the Tab Age in Other Planet -->
                <!--  -->
            </mat-tab>

        </mat-tab-group>
        <!--  -->
        <!-- End of Tab Link -->
        <!--  -->
    </div>
    <!--  -->
    <!-- End of Result Panel -->
    <!--  -->
</mat-card>
<!--  -->
<!-- End of mat card -->
<!--  -->