.form-container {
    display: flex; 
    flex-direction: column; 
    align-items: flex-start;
}

.from-date-field {
    margin-bottom: 20px;
    /* background-color: rgb(228, 236, 228); */
}

.date-field {
    display: flex;
    flex-direction: row;
    width: 316px;
    /* background-color: greenyellow; */
}

.date-input {
    width: 266px;
    font-size: 18px;
}

.to-date-field {
    margin-bottom: 20px;
}

.time_button {
    margin-top: 16px;
    margin-left: 10px;
}

.timer_icon svg {
    fill: #3f51b5;
    transform: scale(2.3);
}

.timer_off_icon svg {
    fill: #f44336;
    transform: scale(2.3);
}

.from-time-field, .to-time-field {
    margin-top: 7px;
    display: flex;
    flex-direction: row;
    width: 316px;
    /* background-color: greenyellow; */
}

.margin-top-3 {
    margin-top: 3px;
}

.hour, .minute {
    width: 90px;
}

.minute {
    margin-left: 10px;
}

.amPm {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    align-items: flex-start;
    width: 60px;
}

.amPm > mat-radio-button {
    margin: 3px;
}

.now {
    margin-left: 10px;
    margin-top: 5px;
}



.button-group > button:not(:first-child) {
    margin-left: 10px;
}


/* Result Panel */
.result-panel {
    margin-top: 20px;
}

.text-box-main, .text-box {
    border: 2px solid #7b1fa2;
    display: flex;
    flex-direction: row;
}

.text-box {
    margin-top: 10px;
}
.age-text-main, .age-text{
    color: #3f51b5;
    font-weight: 500;
}

.age-text-main {
    font-size: 30px;
}

.age-text-value-main {
    font-size: 25px;
    margin-bottom: -3px;
}

.age-text-value-main, .age-text-value {
    margin-left: 5px;
}

.age-text {
    font-size: 20px;
}
.age-text-value {
    font-size: 20px;
    /* margin-bottom: -2px; */
    
}
/* End of Result Panel */